/* CSS Document */
.noframebody {
    scrollbar-base-color: #C0D586;
    scrollbar-arrow-color: #FFFFFF;
    scrollbar-shadow-color: DEEFC6;
}
.txtbg{
border:1px solid #E7E7E7;
font-size:12px;
font-family:"Times New Roman", Times, serif;
}
.btn1{
border:1px solid #408080;
}
.table-border{
border:1px solid #DEE9E8;
font-size:12px;
line-height:25px;
font-family:"ÐÂËÎÌå";
}